body{
  background-color:pink;
  padding: 60px;
}

.calculator{
  background-color: plum;
  width:500px;
  height:500px;
  margin:auto;
  padding: 40px;
  border-radius: 10px;
}

.screen{
  width:80%;
  height:60px;
  background-color:aquamarine;
  margin:auto;
  border-radius: 6px;
  padding:4px;
  text-align: right;
}

.output{
  font-family: monospace;
  font-weight: 600;
  font-size: 30px;
}

.buttons{
  width:90%;
  margin-left:auto;
  margin-top: 50px;
}

button{
width:18%;
height:60px;
margin: 10px;
border-radius:10px;
font-family: monospace;
font-weight: 600;
font-size: 30px;
border:none;
}

.operator,.clear, .equal{
  background-color:bisque;
  transition: backgroundColor 2s;
}

.operator:active, .clear:active, .equal:active{
  background-color: pink;
}


